In [ ]:
#Part 1: Data Cleaning and Exploration

In [2]:
import pandas as pd

In [88]:
# Load the dataset 
data = pd.read_csv(r'C:\Users\maria\Desktop\DataViz\crime_data.csv')

# Display the first 5 rows 
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

In [56]:
##Identify columns with missing values and their respective counts. Drop columns where more than 
#50% of the data is missing (store this version as a new dataset).
missing_colum_value = df.isnull().sum()
#print("\nMissing values in each column:")
#print(df.isnull().sum())

threshold = len(data) * 0.5  # 50% of the total rows
columns_to_drop = missing_colum_value[missing_colum_value > threshold].index
# Create a new dataset without these columns
df_cleaned = df.drop(columns=columns_to_drop)
df_cleaned.to_csv('cleaned_crimedataset.csv', index=False)

In [ ]:
#Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate
#columns. Create a new column for the hour using the TIME OCC column.

In [120]:
# Convert the 'DATE OCC' column to datetime format
df_cleaned['DATE OCC'] = pd.to_datetime(df_cleaned['DATE OCC'],format='%d/%m/%Y' , errors='coerce')

# Extract year, month, and day into separate columns
df_cleaned['Year'] = df_cleaned['DATE OCC'].dt.year
df_cleaned['Month'] = df_cleaned['DATE OCC'].dt.month
df_cleaned['Day'] = df_cleaned['DATE OCC'].dt.day
#Create column for hour
df_cleaned['Hour'] = df_cleaned['TIME OCC'].apply(lambda x: str(x).zfill(4)[:2]) # str(x) converts value into string zfill(4) ensures that string is at least 4
# Display the updated dataframe with new columns
print(df_cleaned[['DATE OCC', 'Year', 'Month', 'Day', 'TIME OCC', 'Hour']].head())

    DATE OCC  Year  Month  Day  TIME OCC Hour
0 2024-08-01  2024      8    1      1319   13
1 2023-09-15  2023      9   15      1930   19
2 2023-06-26  2023      6   26      1230   12
3 2021-04-25  2021      4   25      2330   23
4 2021-10-25  2021     10   25      1455   14

In [116]:
#Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description
#BURGLARY in the Crm Cd Desc column.
# Filter for crimes that occurred in 2023
df_filtered_2023 = df_cleaned[df_cleaned['Year'] == 2023]

# Further filter for crimes with the description 'BURGLARY' in the 'Crm Cd Desc' column
df_filtered_burglary = df_filtered_2023[df_filtered['Crm Cd Desc'] == 'BURGLARY']
df_filtered_burglary.to_csv("burglary_2023.csv", index=False)

# Display the filtered dataset
print(df_filtered_burglary.head())

         DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
47   231107877  04/15/2023 12:00:00 AM 2023-01-15       500    11
147  231912840  08/15/2023 12:00:00 AM 2023-08-14      2200    19
292  230813484  08/19/2023 12:00:00 AM 2023-08-19       510     8
317  230126836  12/20/2023 12:00:00 AM 2023-12-10      1200     1
326  231506351  02/26/2023 12:00:00 AM 2023-02-22      1230    15

       AREA NAME  Rpt Dist No  Part 1-2  Crm Cd Crm Cd Desc  ... Status  \
47     Northeast         1151         1     310    BURGLARY  ...     IC
147      Mission         1962         1     310    BURGLARY  ...     IC
292      West LA          857         1     310    BURGLARY  ...     IC
317      Central          154         1     310    BURGLARY  ...     IC
326  N Hollywood         1562         1     310    BURGLARY  ...     IC

     Status Desc Crm Cd 1                                  LOCATION      LAT  \
47   Invest Cont    310.0   5000 W  SUNSET                       BL  34.0981
147  Invest Cont    310.0  15000    CORE                         LN  34.2424
292  Invest Cont    310.0   9400 W  PICO                         BL  34.0553
317  Invest Cont    310.0    100 E  6TH                          ST  34.0460
326  Invest Cont    310.0   4400    BABCOCK                      AV  34.1504

          LON  Year Month  Day Hour
47  -118.2983  2023     1   15  NaN
147 -118.4596  2023     8   14  NaN
292 -118.3943  2023     8   19  NaN
317 -118.2493  2023    12   10  NaN
326 -118.4063  2023     2   22  NaN

[5 rows x 26 columns]

In [84]:
#5. Group the data by AREA NAME and calculate the total number of crimes and the average victim age.
#Sort the results by total crimes in descending order
df_grouped =df_cleaned.groupby('AREA NAME').agg(
    total_crimeN = ('Crm Cd Desc', 'size'),
    average_vict_age = ('Vict Age', 'mean')
)
#Sort in descending order
df_grouped_sorted =df_grouped.sort_values(by='total_crimeN',ascending = False)
print(df_grouped_sorted.head)

<bound method NDFrame.head of              total_crimeN  average_vict_age
AREA NAME
Central              3517         28.481376
77th Street          3115         29.151525
Pacific              3004         28.978029
Southwest            2831         29.048040
Hollywood            2556         28.331377
Newton               2537         25.054789
Olympic              2523         27.732858
N Hollywood          2503         28.346784
Southeast            2459         28.362749
Rampart              2388         26.273451
Wilshire             2379         29.595628
West LA              2249         30.307248
Van Nuys             2162         31.748381
West Valley          2114         30.640492
Northeast            2103         28.732763
Topanga              2076         34.018786
Harbor               2052         26.983918
Devonshire           2031         29.597735
Mission              1933         29.609415
Hollenbeck           1843         26.158437
Foothill             1625         30.511385>

In [ ]:
#Part 2: Further Exploration (Python only)

In [96]:
# Find the top 3 most frequent Crm Cd Desc values.
top_3crimes = df_cleaned['Crm Cd Desc'].value_counts().head(3)
print(top_3crimes)

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: count, dtype: int64

In [122]:
#Group the data by Hour and count the number of crimes
crimes_by_hour = df_cleaned.groupby('Hour').size().reset_index(name='Crime_Count')
print(crimes_by_hour.head())

  Hour  Crime_Count
0   00         2025
1   01         1490
2   02         1241
3   03         1063
4   04          975

In [151]:
#Group the data by Vict Sex and calculate: Total crimes, Average victim age
crimes_by_VictSex = df_cleaned.groupby('Vict Sex').agg(
    Total_CrimeN = ('Crm Cd Desc', 'size'),
    Average_Vict_age = ('Vict Age', 'mean')).reset_index()

print(crimes_by_VictSex.head())

  Vict Sex  Total_CrimeN  Average_Vict_age
0        F         17922         38.164156
1        H             3         36.333333
2        M         20076         37.165621
3        X          4836          2.672043

In [ ]:
#Part 4: Advanced Analysis

In [ ]:
 #Create a new column, Severity Score, based on the following rules:
#â€¢ Assign 5 points if a weapon was used (Weapon Used Cd is not null).
#â€¢ Assign 3 points for crimes under BURGLARY.
#â€¢ Assign 1 point for all other crimes.
#â€¢ Group by AREA NAME and find the total severity score for each area.

In [161]:
# Create the 'Severity Score' column based on the conditions
#USE original data
data['Severity Score'] = 0  # Initialize with 0

# Assign 5 points if a weapon was used (Weapon Used Cd is not null)
data.loc[data['Weapon Used Cd'].notnull(), 'Severity Score'] = 5

# Assign 3 points for BURGLARY crimes
data.loc[data['Crm Cd Desc'] == 'BURGLARY', 'Severity Score'] = 3

# Assign 1 point for all other crimes
data.loc[(data['Weapon Used Cd'].isnull()) & (df_cleaned['Crm Cd Desc'] != 'BURGLARY'), 'Severity Score'] = 1

# Group by 'AREA NAME' and calculate the total severity score for each area
severity_by_area = data.groupby('AREA NAME')['Severity Score'].sum().reset_index()

# Display the results
print(severity_by_area.head())

     AREA NAME  Severity Score
0  77th Street            9213
1      Central            8485
2   Devonshire            4375
3     Foothill            3801
4       Harbor            4934

In [171]:
#Bonus Part:
#Use the LAT and LON columns to identify crimes that occurred within a specific latitude-longitude bounding
#box (e.g., downtown area).
min_lat = df_cleaned['LAT'].min()
max_lat = df_cleaned['LAT'].max()

min_lon = df_cleaned['LON'].min()
max_lon = df_cleaned['LON'].max()

Crime_Area = data [ (df_cleaned['LAT'] >= min_lat) & 
                    (df_cleaned['LAT'] <= max_lat) & 
                    (df_cleaned['LON'] >= min_lon) & 
                    (df_cleaned['LON'] <= max_lon)]
print(Crime_Area.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ...  Status Desc  Crm Cd 1 Crm Cd 2  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...  Invest Cont     440.0      NaN
1                   THEFT OF IDENTITY  ...  Invest Cont     354.0      NaN
2                   THEFT OF IDENTITY  ...  Invest Cont     354.0      NaN
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...  Invest Cont     626.0      NaN
4                             ROBBERY  ...  Invest Cont     210.0      NaN

  Crm Cd 3  Crm Cd 4                                  LOCATION  Cross Street  \
0      NaN       NaN   8300    KELVIN                       AV           NaN
1      NaN       NaN  18900    CANTLAY                      ST           NaN
2      NaN       NaN   7300    ENFIELD                      AV           NaN
3      NaN       NaN   5800 W  CENTURY                      BL           NaN
4      NaN       NaN   2900    LOS FELIZ                    BL           NaN

       LAT       LON Severity Score
0  34.2200 -118.5863              1
1  34.2023 -118.5458              1
2  34.2033 -118.5241              1
3  33.9456 -118.3835              5
4   0.0000    0.0000              5

[5 rows x 29 columns]